body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.center-image {
    margin: 2px;
    display: block;
    padding: 19px;
    width: 80%;
}

/* highlighter-rouge */
code.highlighter-rouge {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 0.5em;
    color: #d14;
}

/* fence-block style highlighting */
pre code {
    white-space: pre;
}

/* Block quote */
blockquote {
    color: #555;
    font-size: 14px;
}

/* Syntax highlighting for monokai -- see syntax.css */
.highlight pre,
.highlight .table 
{
    border: box;
    border-radius: 0px;
    border-collapse: collapse;
    padding-top: 0;
    padding-bottom: 0;
}

.highlight table td { 
    padding: 0px; 
    background-color: #49483e; 
    color: #f8f8f2;
    margin: 0px;
}

.highlight td.gutter {
    border-right: 1px solid white;
}

.highlight table pre { 
    margin: 0;
    background-color: #49483e; 
    color: #f8f8f2;
}

.highlight pre {
    background-color: #49483e; 
    color: #f8f8f2;
    border: 0px;    /* no border between cells! */
}

/* The code box extend the entire code block */
.highlight table td.code {
    width: 100%;
}
