{% include "header.html" %}

<div class="main-container">
  <article class="post">
    <header class="post-header">
      <h1><a href="{{ page.url | url }}">{{ date | date("LLL d, yyyy") }} - {{ title }}</a></h1>
      {% if site.comments == true and page.data.comments == true and site.disqus != '' %}
      <p class="author"><a href="#disqus_thread">Comments</a></p>
      {% endif %}

      {# Add the tags #}
      {% if tags %}
      <div class="post-meta">
          Tags:
          {% for tag in tags %}
          <span><a href="{{ '/tags/' | url }}{{ tag | slug }}/">{{ tag | replace('_', ' ') }}</a></span>{% if not loop.last %}, {%
          endif %}
          {% endfor %}
      </div>
      {% endif %}
    </header>

    {% set toc = content | getTOC %}
    {% if toc %}
    <div class="table-of-contents-wrapper">
      <details class="toc-details">
        <summary class="toc-summary">Table of Contents</summary>
        {{ toc | safe }}
      </details>
    </div>
    {% endif %}

    <div class="post-content">
      {{ content | addLineNumbers | safe }}
    </div>

    {% if page.data.comments %}
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_nostcript">comments powered by
            Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}
  </article>

  <div class="pagination">
    {% if page.data.next %}
    <a href="{{ page.data.next.permalink | url }}" class="pagination-btn">Newer Post</a>
    {% endif %}
    {% if page.data.previous %}
    <a href="{{ page.data.previous.permalink | url }}" class="pagination-btn">Older Post</a>
    {% endif %}
  </div>
</div>

{% include "disqus-comments.html" %}
{% include "footer.html" %}
